{% from "frappe/templates/includes/avatar_macro.html" import avatar %}
{% extends "templates/web.html" %}
{% block title %}
{{ _("My Account") }}
{% endblock %}
{% block page_content %}
<div class="my-account-container">
    <h3 class="my-account-header">{{_("My Account") }}</h3>
    <div class="row account-info d-flex flex-column">
        <div class="col d-flex justify-content-between align-items-center">
            <div style="display: flex;justify-content: center;align-items: center;">
                <!-- <span class="my-account-avatar">
                    {{avatar(current_user.name)}}
                     <img src="/files/64-Network-PNG-Logo3.png" class="rounded-full h-full w-full"> 
                </span> -->
                <span>
                    <img class="avatar-frame standard-image" src="/files/64-Network-PNG-Logo3.png"
                        title="{{ full_name|e or user_info.name|e }}" style="width:50px;height:50px;object-fit: fill;">
                </span>
                <span class="my-account-name ml-4">
                    <div>
                        {% if current_user.full_name not in ["Guest", "Administrator"] %}
                        {% set contact = frappe.get_doc("Contact", {"user": current_user.email}) %}
                        {% if contact and contact.company_name %}
                        <div style="font-size: 18px;">{{ contact.company_name }}</div>
                        {%else%}
                        {% set company = frappe.get_all("Company", fields=["name"]) %}
                        {% if company %}
                        <div style="font-size: 18px;">{{ company[0].name }}</div>
                        {% endif %}
                        {% endif %}
                        {%else%}
                        {% set company = frappe.get_all("Company", fields=["name"]) %}
                        {% if company %}
                        <div style="font-size: 18px;">{{ company[0].name }}</div>
                        {% endif %}
                        {% endif %}
                        <span>{{ current_user.full_name }}</span>
                    </div>
                </span>
            </div>
            <div>
                <span class="my-account-item-link">
                    <a href="/update-profile/{{ user }}">
                        <svg class="edit-profile-icon icon icon-md">
                            <use href="#icon-edit">
                            </use>
                        </svg>
                        <span class="item-link-text pl-2">
                            {{_("Edit Profile") }}
                        </span>
                    </a>
                </span>
            </div>
        </div>
        <div class="col d-flex justify-content-between align-items-center">
            {% if current_user.full_name not in ["Guest", "Administrator"] %}
            {% set contact = frappe.get_doc("Contact", {"user": current_user.email}) %}
            {% if contact and contact.company_name %}
            {% set customer=frappe.get_doc("Customer",{"name":contact.company_name})%}
            {% set salesPerson =frappe.get_doc("Sales Team",{"parent":customer.name}) %}
            <span>
                <div class="my-account-item"><b>Salesperson:</b>&nbsp;{{salesPerson.sales_person or "" }}</div>
                <div class="my-account-item-desc"><b>Email Id:</b>&nbsp;{{customer.account_manager or ""}}</div>
            </span>
            {%endif %}
            {%endif%}

        </div>
        <div class="col d-flex justify-content-between align-items-center">
            <span>
                <div class="my-account-item">{{_("Reset Password") }}</div>
                <div class="my-account-item-desc">{{_("Reset the password for your account") }}</div>
            </span>
            <span class="my-account-item-link">
                <a href="/update-password">
                    <svg class="right-icon icon icon-md">
                        <use href="#icon-right">
                        </use>
                    </svg>
                    <span class="item-link-text">{{_("Reset Password") }}</span>
                </a>
            </span>
        </div>

        {% if frappe.db.get_single_value("Website Settings", "show_account_deletion_link") %}
        <div class="col d-flex justify-content-between align-items-center">
            <span>
                <div class="my-account-item">{{_("Request Account Deletion") }}</div>
                <div class="my-account-item-desc">{{_("Send a request to delete your account") }}</div>
            </span>
            <span class="my-account-item-link">
                <a href="/request-for-account-deletion?new=1">
                    <svg class="right-icon icon icon-md">
                        <use href="#icon-right">
                        </use>
                    </svg>
                    <span class="item-link-text">{{_("Delete Account") }}</span>
                </a>
            </span>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}